<div id="app">
  {{ message }}
  <input type="text" v-model="message">
  <h2>reviews:</h2>
  <ul>
    <li v-for="review in reviews">
      <p>{{review}}</p>
      <input type="text" v-model="reviews">
    </li>
  </ul>
</div>

